body {
    transition: 1s;
    background-color: whitesmoke;
    --text-color: black;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin-right: 4%;
    margin-left: 4%;
    display: flex;
    justify-content: space-around;
}


section{
    font-size: x-large;
}
button:hover{
    cursor: pointer;
}

.navbar {
    background-color: black;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a, .navbar button {
    color: black;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.text{
    /* height: 100px; */
    background: linear-gradient(90deg, rgba(0, 100, 0, 0.098), rgba(144, 238, 144, 0.168));
    /* border: .1px solid var(--text-color); */
    text-shadow: 1px 1px 1px ;
    box-shadow: 1px 1px 1px ;
    border-radius: 4px;
    padding: 4%;
    margin: 4%;
}

.level-display {
    margin-bottom: 20px;
}
#graph {
    height: 100px;
    width: 500px;
}

.level-display p {
    margin: 0;
}

.level-display #levelUpTo {
    font-weight: bold;
}

main {
    /* margin: 8%; */
    animation: fadeIn 1s;
    span{
        font-size: xx-large;
    }
}

.text {
    font-size: 24px;
    margin-bottom: 20px;
}

.wpm, .wpm-indicator {
    font-size: 18px;
    margin-bottom: 20px;
}

.wpm-indicator {
    display: none;
}

.night-mode {
    background-color: black;
    --text-color: white;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
}
