<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>typing club</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script>
        let sentence = "{{sentence}}"
    </script>
    <script src="{{url_for ('static', filename = 'main.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'main.css')}}">
    <link rel="stylesheet" href="{{url_for ('static', filename = 'a.css')}}">
</head>

<body class="night-mode">
    <nav style="    
        background-color: darkkhaki;
        color: black;
        display: flex;
        justify-content: space-around;"
        >
        <a href="/showLevels">show all levels</a>
        <a href="/home">home</a>
    </nav>
    <div class="levelDisplay">
        <p>Level: </p>
        <p id="levelUpTo">{{level}}</p>
    </div>
    <button onclick="toggleNightMode()">night-mode</button>
    <main>
        <div class="wpm">start typing to start the words per minute calculater</div>
        <div class="text"></div>
    </main>

    <!-- <div class="wrapper" width="200" height="400">

        <canvas id="myChart"></canvas>
    </div> -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const progress_ = [2,6,1,7,8,9, 1, 2, 3]
        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['A', 'B', 'C', 'D', 'E', 'F'],
                datasets: [{
                    label: 'Data',
                    data: [progress_],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
        });

        </script> -->
        


</body>

</html>