<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
  
    <style>
        form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid black;
            border-radius: 10px;
            padding: 4%;
        }
        button{
            background-color: blue;
            border-radius: 10px;
        }
        input{
            border-radius: 10px;

        }
    </style>
</head>
<body>
    <form action="/payForSentenceGenerationPermission" method="post" style="background-color: whitesmoke;">
        <label for="cardNumber">card number</label>
        <input type="number" name="cardNumber">

        <br>
        <label for="cvv">cvv</label>
        <input type="number" name="cvv">
        <br>
        <label for="paymentAmount">payment amount</label>
        <input type="number" name="paymentAmount">
        <br>
        
        
        <button type="submit">get access to feauture</button>
    </form>
</body>
</html>