<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <style>
        form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid black;
            border-radius: 10px;
            padding: 4%;
        }
        button{
            background-color: blue;
            border-radius: 10px;
        }
        input{
            border-radius: 10px;

        }
    </style>
</head>
<body>
    <form action="/signup" method="post" style="background-color: whitesmoke;">
        <label for="name">name: </label>
        <br>
        <input type="text" name="name">
        <br>
        <label for="password">password: </label>
        <br>
        <input type="password" name="password">
        <br>
        <button type="submit">signup</button>
    </form>
</body>
</html>